#frmForgot {
    padding: 20px 60px;
    background: #f1f1f1;
    color: #000;
    display: inline-block;
    border-radius: 10px;
}

#frmReset {
    padding: 20px 60px;
    background: #f1f1f1;
    color: #000;
    display: inline-block;
    border-radius: 10px;
}

.field-group {
    margin-top: 15px;
}

.input-field {
    padding: 8px;
    width: 200px;
    border: #A3C3E7 1px solid;
    border-radius: 4px;
}

.form-submit-button {
    background: #13BED0;
    border: 0;
    padding: 8px 20px;
    border-radius: 4px;
    color: #FFF;
    text-transform: uppercase;
}

.member-dashboard {
    padding: 40px;
    background: #D2EDD5;
    color: #555;
    border-radius: 4px;
    display: inline-block;
}

.member-dashboard a {
    color: #09F;
    text-decoration: none;
}

#validation-message {
    text-align: center;
    color: #FF0000;
}

.success_message {
    text-align: center;

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

color: #07AB61

;
}